# Rename this file to settings.py to be in effect.

SLEEP = 0.2

# 1 MB = 1 * 1024 * 1024
LOG_ROTATION_BYTES = 25 * 1024 * 1024
LOG_ROTATION_LIMIT = 100
LOG_PATH = "/tmp/mass_index.log"

DATA = [
    {
        "src": "/path/to/data/*.log",
        "dst": "/tmp/foo/",
        "limit": 100,	
    },
]
