#!/usr/bin/env python
# hobbes3

# Rename this file to settings.py to be in effect.

THREADS = 4
SPLUNK_HOME = "/opt/splunk"
SLEEP = 0.3

SPLUNK_USERNAME = "admin"
SPLUNK_PASSWORD = "changeme"

# 1 MB = 1 * 1024 * 1024
LOG_ROTATION_BYTES = 25 * 1024 * 1024
LOG_ROTATION_LIMIT = 100
LOG_PATH = "/tmp/mass_index.log"

DATA = [
    {
        "file_path": "/path/to/data/*.log",
        "index": "main",
        "sourcetype": "foobar"
    },
]
